# Dependencies
node_modules/
**/node_modules/

# Removi a exclusão do dotenv para o controle de versionamento para fins de praticidade ao executar o projeto teste
# Environment
# .env
# **/.env
# .env.*
# **/.env.*

# OS
.DS_Store
Thumbs.db

# ---------- frontend ----------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
# ---------- frontend ----------

# ---------- backend ----------
dist/
**/dist/
build/
**/build/
*.log
**/logs/
npm-debug.log*
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
coverage/
**/coverage/
# ---------- backend ----------